<!doctype html>
<html lang="en" ng-app="game">
<head>
    <title>2048</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <script src="bower_components/angular/angular.js"></script>
  <script src="scripts/play.js"></script>

  <div ng-app="game" ng-controller="playController" >

      <table>
        <tr ng-repeat="i in [0,1,2,3]">
          <td>{{board[i][0]}}</td>
          <td>{{board[i][1]}}</td>
          <td>{{board[i][2]}}</td>
          <td>{{board[i][3]}}</td>
        </tr>
      </table>

      <div style="text-align:center;margin:10px;">
        <button class="button" ng-click="" ng-keydown="keyPress($event)">Start!</button>
      </div>

  </div>
</body>
</html>
