.container{
  margin: 0 auto;
  width: 600px;
}
.scores{
  border-radius: 5px;
  background-color: #898c85;
  color: #FFFFFF;
  font-family: verdana;
  width: 100px;
  height: 50px;
  /*margin-left: 400px;*/
  margin-top: 15px;
  text-align: center;
  padding-top: 17px;
  /*padding-bottom: 2px;*/
  float: right;
}
.title{
  float: left;
  font-family: verdana;
  font-style: bold;
  color: #898c85;
  font-size: 80px;
  /*margin: 0;*/
  float: left;
}
table {
    border: 5px solid;
    text-align: center;
    font-family: verdana;
    font-style: bold;
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background-color: #73AD21;
    color: #73AD21;
    table-layout: fixed;
    font-size: 30px;
}
td{
  border: 5px solid;
  border-radius: 10px;
  padding: 50px;
  background-color: #f2f2f2;
  color: #73AD21;
  width: 40px;
  height: 40px;
}
.button {
  border-radius: 5px;
  position: relative;
  background-color: #898c85;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 18px;
}
.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
